/*CSS RESET BEGINS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET ENDS*/



:root {
	--white: #fff;
	--whitetext: #e2e2e2;
    --darkblue: #273773;
	--lightblue: #1b75ba;
	--gold: #ffb10a;
	--orange: #ef5a28;
	--black: #181818;
  }



.main-container {
	position: relative;
}

.bold {
	font-weight: 700;
  }

.black-text {
	color: var(--black);
}

.white-text {
	color: var(--white);
}

.gold-text {
	color: var(--gold);
}

.dark-blue {
	color: var(--darkblue);
}

.light-blue {
	color: var(--lightblue);
}

.fontWeight {
	font-weight: 800;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: initial;
} 

body {
	font-family: "Montserrat", sans-serif;
}

.container {
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-image-mob {
	display: none;
}

.logoMob {
	display: none;
}

.blueLine {
	width: 100%;
	height: .15rem;
	background-color: var(--darkblue);
}

.logo {
	display: flex;
	width: 100%;
}

.logoDesk {
	align-self: flex-start;
}

.hero-heading {
	font-size: 2rem;
	line-height: 2.6rem;
	font-weight: 700;
}
.hero-text {
	color: var(--black);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.3rem;
	line-height: 2.2rem;
	padding: 0 10px;
}

.second-p-hero{
	color: var(--black);
	font-size: 1.3rem;
	line-height: 2.2rem;
}

.second-p-hero span {
	font-weight: 700;
}
 

.hero-button {
	display: flex;
	justify-content: center;
	width: 20rem;
	height: auto;
	background-color: var(--orange);
	border-radius: .3rem;
	padding: 1rem;
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	transition: all 200ms ease-in;
}
.hero-button a {
	color: var(--white);
	transition: all 100ms ease-in;
}

.hero-button:hover {
	background-color: var(--gold);
	cursor: pointer;
}

.hero-button:hover a {
	
	color: var(--black);
}

.small-text-hero {
	color: var(--black);
	padding-bottom: 1rem;
}



.hero {
    width: 80%;
	font-weight: 400;
	color: var(--white);
    display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0 0 0;
}



.hero-content {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.mainImage {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
}

.mainImage img {
	width: 100%;
}

.second-section {
	width: 80%;
    font-weight: 400;
    color: var(--white);
    display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0 3rem 0;
}

.second-section-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.second-section-text:nth-child(1) {
	width: 100%;
	font-size: 3rem;
	line-height: 3.8rem;
	font-weight: 600;
}

.second-text-small {
	font-size: 1.5rem;
	line-height: 2.6rem;
	font-weight: 400;
	color: var(--black);
}


.blueSection {
	background-color: var(--darkblue);
	padding: 4rem 0 4rem 0;
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}


.bottomBlueSection {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
	padding-bottom: 2rem;
}
.icon-box img {
	transition: all 100ms;
}

.icon-box img:hover {
	transform: scale(1.1);
}

.icon-box-4 img {
	transition: all 100ms;
}

.icon-box-4 img:hover {
	transform: scale(1.1);
}

.icon-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1.5rem;
}

.icon-box-4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1.5rem;
}

.box-p {
	font-size: 1rem;
	color: var(--white);
	line-height: 1.5rem;
	font-weight: 600;
}

.box-p-4 {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
}


.whiteSection {
  background-color: var(--white);
  padding: 4rem 0 4rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.top-4section {
	color: #000;
	font-size: 3rem;
	line-height: 4.6rem;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-weight: 400;
	border: 1px solid var(--gold);
	background-color: var(--gold);
	border-radius: 0.6rem;
	padding: 1rem 3rem 1rem 3rem;
	box-shadow: 0 1px 20px 2px #999;
	transition: all 100ms ease-in;
}

.top-4section:hover {
	color: var(--white);
}

.bottomWhiteSection {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
	padding-bottom: 2rem;
}


.form-section {
	background-color: var(--darkblue);
	border-radius: 1rem;
	color: var(--gold);
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 2rem;
	width: 440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 0 2rem 0;
	gap: 2rem;
	box-shadow: 0 10px 100px 0 var(--darkblue);
	position: absolute;
	top: 10rem;
}

.text-form {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.text-form p {
	width: 80%;
}

.form-container {
	width: 380px;
}

.checkbox-div {
	width: 100%;
	font-size: 0.8rem;
	line-height: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.check-box-area {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
}

input[type="checkbox"] {
	width: 100%;
	padding: 0;
	margin: 0;
}

label span {
	color: #999999;
}


.form-container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	gap: 1rem;
	
}

input[type=text] {
	padding: 1rem 0 1rem 0.5rem;
	width: 100%;
	border-radius: 0.5rem;
	box-sizing: border-box;
	
}

input[type=submit] {
	width: 100%;
	background-color: var(--orange);
	border: 0.1rem solid var(--whitetext);
	color: var(--white);
	border-radius: .3rem;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: 700;
	transition: all 100ms ease-in;
}


input[type=submit]:hover {
	cursor: pointer;
	color: var(--white);
}


.mobileIcon {
	display: none;
	padding-top: 2rem;
}

.deskIcon {
	width: 180px;
}

.deskIcon img {
	width: 100%;
	padding-top: 2rem;
}

.number {
	font-weight: 700;
	padding: 0;
	margin: 0;
	font-size: 1.3rem;
	text-align: center;
}

.titleIcons {
	font-weight: 800;
	padding: 0;
	margin: 0;
	font-size: 1.1rem;
	text-align: center;
	line-height: 2rem;
}


.buttonSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.collSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.subtitle {
	width: 33.33%;
	font-size: 1.2rem;
	line-height: 2.2rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	
}

.smallPtext{
	width: 80%;
	font-weight: 400;
	font-size: 1rem;
}

.bottomHeroHeading {
	width: 80%;
}

.formContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}

.hide {
	display: none;
}

.closeForm {
	width: 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0;
}

.closeForm span {
	margin-right: 2rem;
	transition: all 100ms ease-in;
}
.closeForm span:hover {
	transform: scale(1.5);
	cursor: pointer;
}

.text-checkbox {
	text-align: left;
}

/* MEDIA RULES */



@media only screen and (max-width: 1320px) {
	.hero-text {
		font-size: 1.1rem;
		line-height: 1.3rem;
	}
	.second-p-hero {
		font-size: 1.1rem;
		line-height: 1.3rem;
	}
	
}


@media only screen and (max-width: 1120px) {
	
	.icon-box img:hover {
		transform: none;
	}
	.icon-box-4 img:hover {
		transform: none;
	}

	.top-4section {
		font-size: 2.2rem;
		line-height: 2.8rem;
	}

	.mainImage {
		width: 70%;
	}

	.hero-text {
		font-size: 1.1rem;
		line-height: 1.2rem;
	}
	.second-p-hero {
		font-size: 1.1rem;
		line-height: 1.2rem;
	}
}

.blackSection {
	background-color: var(--black);
	color: #c5c5c5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 2rem;
	padding: 2rem 0;
}

.footerP {
	width: 80%;
	font-size: 1rem;
	line-height: 1.6rem;
}


@media only screen and (max-width: 870px) { 

	.logoDesk {
		display: none;
	}

	.logoMob {
		display: initial;
	}

	.bottomHeroHeading {
		width: 100%;
		text-align: center;
	}

	.subtitle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	
	.collSection {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.smallPtext {
		width: 100%;
	}

	.logo {
		width: 100%;
		display: flex;
	}
	.logo img {
		margin-left: 1rem;
	}
	.mainImage {
		display: none;
	}

	.deskIcon {
		display: none;
	}
	.mobileIcon {
		display: initial;
	}

	.mobileIcon img {
		width: 100%;
	}

	.bg-image-mob {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#first-p-hero { 
		width: 100%;
	}

	.hero {
		width: 100%;
	}
	.hero-content {
		width: 100%;
		display: flex;
		align-items: center;
		text-align: center;
		gap: 3rem;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		font-size: 1.3rem;
	}

	.hero-button {
		width: 80%;
	}

	.small-text-hero {
		text-align: center;
	}

	.second-p-hero {
		font-size: 1.3rem;
	}

	.second-section {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.second-section-text:nth-child(1) {
		font-size: 2.2rem;
		line-height: 2.8rem;
	}

	.second-text-small {
		width: 100%;
		font-size: 1.2rem;
		line-height: 2rem;
	}


	.blueSection {
		padding-bottom: 0;
		background-image: none;
		background-color: var(--darkblue) !important;
	}

	.bottomBlueSection .box-p-4 {
		color: var(--white);
	}

	

	.bottomBlueSection, .bottomWhiteSection {
		flex-direction: column;
	}

	.icon-box-4 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1.5rem;
	}
 
	.box-p {
		text-align: center;
		font-size: .9rem;
		color: var(--white);
		line-height: 1.5rem;
		font-weight: 600;
	}

	.box-p-4 {
		text-align: center;
		font-size: .9rem;
		color: var(--darkblue);
		line-height: 1.5rem;
		font-weight: 600;
	}

	.top-4section {
		width: 60%;
		font-size: 3rem;
		line-height: 5rem;
	}

}

@media only screen and (max-width: 480px) {

	.main-container {
		width: 100%;
	}
	.hero-heading {
		font-size: 2rem;
		line-height: 2.6rem;
	}

	.hero-button {
		font-size: 1rem;
	}
	.second-section-text {
		padding: 2rem;
	}
	.second-section-text:nth-child(1) {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.box-p {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.box-p-4 {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.top-4section {
		width: 60%;
		font-size: 2.5rem;
		line-height: 4.1rem;
	}

	.form-section {
		width: 90%;
	}

	.form-container {
		width: 90%;
	}

	input[type=submit] {
		width: 100%;
		font-size: 1rem;
	}

	.text-form {
		font-size: 1.1rem;
	}

	.checkbox-div {
		font-size: 0.7rem;
	}

}


@media only screen and (max-width: 320px) {
	.top-4section {
		width: 50%;
		font-size: 1.8rem;
		line-height: 3rem;
	}
}